# Data Transformation I

Next, we will begin transforming our dataset by dropping values. Our primary goal of this process is to:

* drop rows with missing data
* drop select columns with overwhelmingly missing data

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part2.md` file.

In [104]:
import pandas as pd
import numpy as np

In [105]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe

df = pd.read_csv('../data/raw/shopping.csv')

In [106]:
# TODO: print out the shape of this dataframe for better clarity
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

df.shape

(3900, 15)

In [107]:
# TODO: display how many null values are in each column of this dataframe
# Documentation: https://datatofish.com/count-nan-pandas-dataframe/

df.isna().sum()

Customer ID                  0
Age                        390
Gender                       0
Item Purchased               0
Purchase Amount (USD)        0
Location                   390
Size                         0
Color                        0
Season                       0
Review Rating             2469
Shipping Type                0
Promo Code Used              0
Previous Purchases           0
Payment Method               0
Frequency of Purchases    2340
dtype: int64

In [121]:
# TODO: it looks like there is roughly 65% of data missing "Frequency of Purchases". Drop this column, as it is mostly empty and unneeded for our analysis.
# In addition, also drop "Customer ID" as this column is also unnecessary
# Reassign this dropped dataframe as a new variable
# Documentation: drive.google.com/drive/folders/1pAWY1JqIQw26uhtT272AoDDeq7jtbkm2

new_df = df.drop(["Frequency of Purchases", "Customer ID"], axis = 1)
new_df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,NaN,Male,Jacket,30.904467,Maine,M,Burnt orange,Fall,4.0,Standard,No,0,Credit Card
1,21.0,Female,Backpack,31.588259,NaN,L,Turquoise,Winter,2.0,Express,No,1,Credit Card
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card
3,NaN,Male,Pajamas,33.918834,Nebraska,M,Black,Winter,NaN,Standard,No,2,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,NaN,Standard,No,0,Credit Card

In [125]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3900, 13)"

new_df.shape

(3900, 13)

In [155]:
# TODO: while "Review Rating" is also mostly empty, we are interested in figuring out why some users
# leave reviews and others don't. 

# Therefore we will NOT drop this column. Instead, let's reassign 
# all missing values in "Review Rating" with "Missing", and all non-na values as "Present"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

new_review_rating = new_df["Review Rating"].fillna("Missing").replace([float(x) for x in range(0, 6, 1)], "Present")
new_df["Review Rating"] = new_review_rating
new_df.head(20)

# Another way to do it with lambda
# new_df['Review Rating'] = new_df['Review Rating'].fillna('Missing').apply(lambda x: 'Present' if x != 'Missing' else x)

# Farukh showed us this method as well
# where(dropped_df["Review Rating"].notna(), "Missing")

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,NaN,Male,Jacket,30.904467,Maine,M,Burnt orange,Fall,Present,Standard,No,0,Credit Card
1,21.0,Female,Backpack,31.588259,NaN,L,Turquoise,Winter,Present,Express,No,1,Credit Card
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
3,NaN,Male,Pajamas,33.918834,Nebraska,M,Black,Winter,Missing,Standard,No,2,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
5,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
6,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
7,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card
8,25.0,Female,Jacket,31.595005,Washington,M,Mauve,Fall,Present,Standard,No,4,Credit Card
9,39.0,Female,Shorts,32.374104,Colorado,M,Fuchsia,Summer,Missing,Standard,No,3,Credit Card
10,45.0,Female,Jacket,35.548978,Florida,M,Brown,Winter,Missing,Standard,No,10,Credit Card
11,23.0,Male,Backpack,34.437918,Texas,M,Brown,Winter,Missing,Standard,No,2,Credit Card
12,27.0,Female,Handbag,29.430620,Virginia,XL,Black,Summer,Missing,Standard,No,2,Credit Card
13,32.0,Female,Handbag,34.151352,Delaware,S,White,Summer,Present,Standard,No,11,Credit Card
14,NaN,Male,Shorts,31.961771,Wyoming,L,Pale peach,Spring,Missing,Express,No,8,Credit Card
15,22.0,Female,Pajamas,30.281125,North Dakota,L,Aubergine,Winter,Missing,Standard,No,3,Credit Card
16,41.0,Male,Sweater,24.125612,New Hampshire,M,Burnt orange,Winter,Missing,Standard,No,4,Credit Card
17,45.0,Male,Handbag,23.929249,Utah,L,Fuchsia,Spring,Present,Standard,No,3,Credit Card
18,34.0,Female,Running Shoes,33.052216,Kentucky,S,Fuchsia,Spring,Present,Standard,No,2,Credit Card
19,NaN,Female,Leggings,30.550298,Michigan,M,Burnt orange,Winter,Missing,Next Day Air,No,6,Credit Card

In [148]:
# TODO: Now that we've dropped and transformed our columns, drop the remaining rows that contain missing values
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

newest_df = new_df.dropna()
newest_df

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
5,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
6,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
7,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,39.0,Male,Running Shoes,55.636680,Kansas,L,White,Summer,Missing,2-Day Shipping,Yes,11,Venmo
3895,43.0,Female,Sunglasses,61.610602,Colorado,S,Burnt orange,Fall,Missing,2-Day Shipping,Yes,7,Venmo
3896,37.0,Male,Pajamas,44.600556,Alaska,S,Aubergine,Winter,Present,2-Day Shipping,Yes,20,Venmo
3898,39.0,Male,Hoodie,45.343778,Illinois,S,Brick red,Fall,Missing,2-Day Shipping,Yes,3,Venmo
3899,21.0,Female,Gloves,49.439181,North Dakota,M,Aubergine,Winter,Present,2-Day Shipping,Yes,2,Venmo

In [149]:
# TODO: display how many null values are in each column of this dataframe
# validate that each column has no missing values

newest_df.isna().sum()

Age                      0
Gender                   0
Item Purchased           0
Purchase Amount (USD)    0
Location                 0
Size                     0
Color                    0
Season                   0
Review Rating            0
Shipping Type            0
Promo Code Used          0
Previous Purchases       0
Payment Method           0
dtype: int64

In [150]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3158, 13)"

newest_df.shape

(3158, 13)

In [151]:
# TODO: print out the first 5 rows of this dataframe for validation

newest_df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
5,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
6,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
7,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card

In [152]:
# TODO: write this newly transformed dataset to the `data/processed` folder. Name it "shopping_cleaned.csv" 
# Be sure to not include an additional index when writing this csv file
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

newest_df.to_csv('../data/processed/shopping_cleaned.csv')